@font-face{
	font-family:Bauhaus;
	src:url('font/ufonts.com_bauhaus-93.ttf');
}
@font-face{
	font-family:Niagara;
	src:url('font/Niagara Engraved Regular.ttf');
}
@font-face{
	font-family:BellMT;
	src:url('font/Bell MT Regular.ttf');
}
@font-face{
	font-family:ArialMT;
	src:url('font/Arial-MT-Regular.ttf');
}
body{
    margin-left: 0px;
    margin-top: 0px;
	width: 1280px;
}
.main{
	font-size: 0px;
}
#main-pic{
	position:static;
	height: 679px;
	width: 1280px;
	/*z-index: 1;*/
}
#title{
	color: #FFFFFF;
	font-family: Bauhaus;
	font-size: 72px;
	position:absolute;
	left:249px;
	top:10px;
	z-index: 2;
}
ul{
	margin: 0;
	padding: 0;
	width: 1060px;
	position:absolute;
	left:213px;
	top:90px;
	z-index: 2;
}
li{
	float:left;
	font-family:Niagara;
	font-size: 22px;
	list-style: none;
	color: #FFFFFF;
	/*padding: 0px 0px 0px 0px;*/
	margin:13px 0px 0px 36px;
}
hr{
	position:absolute;
	left:248px;
	top:143px;
	z-index: 2;
	border:0px;
	height:1px;
	width:718px;
	background-color:#FFFFFF;
	float: left;
	/*margin-left:80px;*/
}
#flower{
	position:static;
	top:0;
	height: 428px;
	width: 1280px;
	z-index: 1;
}
.clear{
	clear: both;
}
#ready{
 	/*float: left;*/
 	position:absolute;
 	top: 721px;
 	left: 180px;
 	z-index: 2;
}
#handbags{
	position:absolute;
 	top: 721px;
 	left: 504px;
 	z-index: 2;
}
#shoes{
	position:absolute;
 	top: 721px;
 	left: 828px;
 	z-index: 2;
}
#third{
	background-color: #FFFFFF;
	height: 488px;
	width: 1280px;
}
#arrow-left{
	position:absolute;
	top:1300px;
	left:140px;
}
#arrow-right{
	position:absolute;
	top:1300px;
	left:1070px;
}
#slider-pic2{
	position:absolute;
	top:1141px;
	left:0px;
}
#sliderpic{
	position:absolute;
	top:1141px;
	left:250px;
}
#slider-pic3{
	position:absolute;
	top:1141px;
	left:1174px;
}
#background{
	position:static;
	width: 1280px;
	height: 545px;
	z-index: 1;
}
#pic-6{
	position:absolute;
	top:1623px;
	left:250px;
	z-index: 2;
}
#copyright{
	color: #272727;
	font-family:BellMT;
	font-size: 24px;
	position:absolute;
	top:2105px;
	left:600px;
	z-index: 2;
}
#footer{
	position:static;
	left:248px;
	top:2110px;
	z-index: 1;
	background-color: #FFFFFF;
	height: 70px;
	width: 1280px;
}
#line{
	position:absolute;
	left:248px;
	top:2155px;
	z-index: 2;
	border:0px;
	height:1px;
	width:780px;
	background-color:#272727;
}
#line-1{
	position:absolute;
	left:248px;
	top:2165px;
	z-index: 2;
	border:0px;
	height:1px;
	width:780px;
	background-color:#272727;
}
#footer-left{
	color: #272727;
	font-family:Arial;
	font-size: 8px;
	position:absolute;
	left:248px;
	top:2175px;
	z-index: 2;
}
#footer-right{
	color: #272727;
	font-family:ArialMT;
	font-size: 8px;
	position:absolute;
	left:903px;
	top:2175px;
	z-index: 2;
}
#icon-fb{
	position:absolute;
	left:770px;
	top:2175px;
	z-index: 2;
}
#icon-ig{
	position:absolute;
	left:800px;
	top:2175px;
	z-index: 2;
}
#icon-g{
	position:absolute;
	left:830px;
	top:2176px;
	z-index: 2;
}